<!doctype html>
<head>
    <title>Georgia Health Inspection Map</title>
    <link rel="stylesheet" href="/static/style.css">

    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
</head>

<body>
    <div id="map"></div>
    <!-- Function for creating HTML stars -->
    <script src="/static/Stars.js"></script>
    <!-- Function for creating popup -->
    <script src="/static/PopupParser.js"></script>
    <script src="/static/test_map.js"></script>
</body>
</html>
